* {
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #443e3e; }

.overflow-y {
  overflow-y: hidden; }

.section-outer {
  padding-left: 15px;
  padding-right: 15px; }

.section-inner {
  max-width: 1210px;
  margin: 0 auto; }

.main {
  position: relative;
  height: 100vh; }

@media (min-width: 1200px) and (min-height: 900px) {
  .main--advantages {
    overflow-y: hidden; } }

@media (min-width: 1200px) and (min-height: 900px) {
  .main--index {
    overflow-y: hidden; } }

.title {
  font-size: 50px;
  font-weight: 600; }
  @media (max-width: 991px) {
    .title {
      font-size: 40px; } }
  @media (max-width: 575px) {
    .title {
      font-size: 30px;
      text-transform: uppercase; } }

.hamburger-menu-background {
  position: fixed;
  top: 0;
  right: -20%;
  z-index: 9;
  border-radius: 50%;
  width: 100%;
  height: 100vh;
  background-color: #0E64A2;
  transition: 0.2s ease-in; }

.modal {
  position: fixed;
  z-index: 20;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  transform: scale(0);
  transform-origin: center;
  transition: 0.2s; }
  .modal .form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); }
  .modal-background {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    border-radius: 50%;
    background: rgba(30, 128, 176, 0.67);
    transform-origin: center;
    transition: 0.5s;
    transform: scale(0);
    transition: 0.2s ease-in; }
  .modal .active-modal--bg {
    transform: scale(1);
    border-radius: 0; }

.active--modal {
  transform: scale(1); }

.form {
  padding: 35px 20px;
  width: 370px;
  height: 384px;
  border-radius: 10px;
  background-color: #fff; }
  .form__button-close {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 100;
    cursor: pointer;
    transform-origin: center;
    transition: 0.5s; }
    .form__button-close svg {
      width: 19px;
      height: 19px; }
    .form__button-close:hover {
      transform: rotate(360deg); }
  .form__title {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 600;
    color: #2B6997; }
  .form__input {
    position: relative;
    margin-bottom: 32px; }
    .form__input:last-child {
      margin-bottom: 0; }
    .form__input span {
      position: absolute;
      top: -7px;
      left: 0;
      font-size: 15px;
      font-weight: 500;
      color: #999999;
      transform-origin: top left;
      transition: 0.3s; }
      .form__input span:after {
        content: '*';
        position: absolute;
        right: -17px;
        top: 0;
        font-size: 15px;
        color: #EA1A65; }
  .form__button {
    position: relative;
    width: 160px;
    height: 33px;
    overflow: hidden;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer; }
    .form__button span {
      position: relative;
      z-index: 4;
      transition: 0.3s ease-in;
      font-weight: 300;
      font-size: 15px;
      color: #ffffff; }
    .form__button:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: '';
      width: 158px;
      height: 30px;
      border: 1px solid #999999;
      opacity: 0;
      transition: 0.1s; }
    .form__button:after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: '';
      width: 160px;
      height: 32px;
      transform-origin: bottom right;
      background-color: #1B96C8;
      transition: 0.2s ease-in; }
    .form__button:hover span {
      color: #1B96C8; }
    .form__button:hover:before {
      opacity: 1; }
    .form__button:hover:after {
      transform: translate3d(-100%, 0, 0); }

.form--width-100 {
  width: calc(100%);
  height: 384px; }
  .form--width-100 .form__input {
    width: 370px; }
  @media (max-width: 767px) {
    .form--width-100 .form__input {
      width: 100%; }
    .form--width-100 .form-wrapper {
      padding-right: 15px;
      width: 100%; } }

.input {
  display: flex;
  height: 35px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(196, 196, 196, 0.58);
  align-items: flex-end;
  font-size: 12px; }
  .input:focus ~ .form__input-text,
  .input:valid ~ .form__input-text {
    transform: scale(0.85);
    color: #EA1A65; }

.slider-container {
  overflow: hidden;
  max-width: 261px; }
  .slider-container .slider-track {
    display: flex;
    transition: 0.2s; }

.section-header {
  min-height: 86px;
  padding-top: 19px;
  padding-bottom: 16px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #443e3e; }
  .section-header .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .section-header-logo {
    width: 12%; }
  .section-header-nav {
    display: flex; }
    .section-header-nav .active {
      font-weight: 500;
      letter-spacing: -0.53px; }
  .section-header-mail {
    display: flex;
    align-items: center; }
    .section-header-mail .mail {
      fill: #443e3e; }
  .section-header-contact {
    display: flex;
    align-items: center; }
    .section-header-contact .tel {
      fill: #443e3e;
      margin-right: 10px; }
    .section-header-contact-city {
      margin-bottom: 3px;
      font-weight: 400; }
    .section-header-contact-text__telephone {
      display: block;
      margin-bottom: 3px;
      font-weight: 500; }
    .section-header-contact-text {
      font-weight: 300; }
  .section-header-hamburger {
    display: none; }
  @media (max-width: 1199px) {
    .section-header {
      color: #ffffff; }
      .section-header .active {
        display: flex; }
      .section-header-nav, .section-header-mail, .section-header-contact {
        display: none; }
      .section-header-nav {
        position: absolute;
        top: 35%;
        right: 20px;
        z-index: 10;
        flex-direction: column;
        align-items: flex-end; }
        .section-header-nav__link {
          margin-bottom: 30px;
          text-align: end;
          font-weight: 600;
          font-size: 22px;
          text-decoration: none;
          text-transform: uppercase;
          color: #ffffff; }
      .section-header-mail {
        position: absolute;
        bottom: 10%;
        right: 20px;
        z-index: 10;
        justify-content: flex-end; }
        .section-header-mail-text {
          font-weight: 500;
          font-size: 24px; }
        .section-header-mail .email {
          margin-right: 10px;
          width: 21px;
          height: 21px;
          fill: #ffffff; }
      .section-header-contact {
        text-align: end;
        position: absolute;
        bottom: 15%;
        right: 20px;
        z-index: 10;
        justify-content: flex-end; }
        .section-header-contact .tel {
          width: 19px;
          height: 19px;
          fill: #ffffff; }
        .section-header-contact-city {
          font-size: 22px; }
        .section-header-contact-text__telephone {
          font-size: 24px;
          color: #ffffff;
          text-decoration: none; }
        .section-header-contact-text {
          font-size: 16px; }
      .section-header-hamburger {
        display: block;
        position: relative;
        top: 0;
        right: 0;
        z-index: 10;
        width: 47px;
        height: 47px; }
        .section-header-hamburger .bar {
          position: absolute;
          left: 0;
          width: 100%;
          height: 4px;
          border-radius: 3px;
          background-color: #443e3e;
          transform-origin: center;
          transition: 0.2s; }
        .section-header-hamburger .active-bar1 {
          transform: scale(0.5) rotate(45deg) translate3d(33px, 8px, 0);
          background-color: #ffffff; }
        .section-header-hamburger .active-bar2 {
          transform: scale(0); }
        .section-header-hamburger .active-bar3 {
          transform: scale(0.5) rotate(135deg) translate3d(-35px, 10px, 0);
          background-color: #ffffff; }
        .section-header-hamburger #bar1 {
          top: 6px; }
        .section-header-hamburger #bar2 {
          top: 21px; }
        .section-header-hamburger #bar3 {
          top: 36px; }
        .section-header-hamburger-text {
          position: absolute;
          right: 35px;
          top: 52%;
          transform: translateY(-50%);
          font-size: 16px;
          font-weight: 600;
          display: none; } }
  @media (min-width: 1200px) {
    .section-header-nav__link {
      margin-right: 32px;
      font-size: 15px;
      font-weight: 300;
      text-decoration: none;
      color: #443e3e; }
      .section-header-nav__link:last-child {
        max-width: 67px;
        min-width: 67px; }
      .section-header-nav__link:hover {
        font-weight: 500;
        letter-spacing: -0.53px; }
    .section-header-contact .tel {
      margin-right: 10px;
      width: 15px;
      height: 15px;
      fill: #443e3e; }
    .section-header-contact-city {
      font-size: 12px; }
    .section-header-contact-text__telephone {
      font-size: 15px;
      color: #443e3e;
      text-decoration: none; }
    .section-header-contact-text {
      font-size: 10px; }
    .section-header-mail {
      font-size: 15px;
      font-weight: 500; }
      .section-header-mail .email {
        margin-right: 10px;
        width: 16px;
        height: 12px;
        fill: #443e3e; } }

.section-first-block {
  position: relative;
  padding-top: 65px;
  background: url("../img/first-block/background.jpg") no-repeat center;
  background-size: cover; }
  .section-first-block .bubble-text {
    text-decoration: none; }
  .section-first-block:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%; }
  .section-first-block .section-inner {
    position: relative;
    z-index: 8;
    height: 100%; }
  .section-first-block-title {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff; }
  @media (max-width: 991px) {
    .section-first-block {
      padding-bottom: 90px; }
      .section-first-block:after {
        background: rgba(14, 100, 162, 0.85); }
      .section-first-block .section-inner {
        display: flex;
        flex-direction: column;
        align-items: center; }
      .section-first-block-title {
        margin-bottom: 54px;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        line-height: 1.4; }
      .section-first-block .bubble {
        visibility: hidden;
        max-width: 0;
        max-height: 0; }
      .section-first-block .bubble--item {
        position: relative;
        z-index: 5;
        display: flex; }
      .section-first-block .bubble-text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 600;
        font-size: 24px;
        color: #0B4357;
        transform: translate3d(-50%, -50%, 0); } }
  @media (min-width: 992px) {
    .section-first-block {
      height: 94%; }
      .section-first-block:after {
        background: #0e63a1;
        background: linear-gradient(90deg, #0e63a1 32%, rgba(255, 255, 255, 0) 96%); }
      .section-first-block .section-inner {
        display: flex; }
      .section-first-block .bubble {
        shape-rendering: crispEdges;
        position: absolute;
        transition: opacity 0.4s linear; }
        .section-first-block .bubble-wrapper {
          position: relative; }
        .section-first-block .bubble img {
          display: block;
          shape-rendering: crispEdges; }
        .section-first-block .bubble-text {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 1;
          font-weight: 600;
          font-size: 24px;
          color: #0B4357;
          transform: translate3d(-50%, -50%, 0); }
      .section-first-block .bubble--item {
        position: absolute;
        transform: scale(0);
        transition: 0.7s ease-out; }
      .section-first-block .active {
        transform: scale(1); }
      .section-first-block .bubble--1 {
        left: 12%;
        top: 14%;
        animation: animate-bubbles1 7s linear infinite; }
      .section-first-block .bubble--2 {
        left: 23%;
        top: 16%;
        animation: animate-bubbles2 8s linear infinite; }
      .section-first-block .bubble--3 {
        left: 38%;
        top: 9%;
        animation: animate-bubbles3 11s linear infinite; }
      .section-first-block .bubble--4 {
        left: 46%;
        top: 22%;
        animation: animate-bubbles1 6s linear infinite; }
      .section-first-block .bubble--5 {
        left: 24%;
        top: 44.4%;
        animation: animate-bubbles2 10s linear infinite; }
      .section-first-block .bubble--6 {
        left: -2.1%;
        top: 59.6%;
        animation: animate-bubbles3 8s linear infinite; }
      .section-first-block .bubble--7 {
        left: 52%;
        top: 53%;
        animation: animate-bubbles2 5s linear infinite; }
      .section-first-block .bubble--8 {
        left: 42%;
        top: 63%;
        animation: animate-bubbles1 10s linear infinite; }
      .section-first-block .bubble--9 {
        left: 38%;
        top: 77%;
        animation: animate-bubbles3 9s linear infinite; }
      .section-first-block .bubble--10 {
        left: -3%;
        top: 82%;
        animation: animate-bubbles2 8s linear infinite; }
      .section-first-block .bubble--11 {
        left: 22.5%;
        top: 78.7%;
        animation: animate-bubbles3 20s linear infinite; }
      .section-first-block .bubble--12 {
        left: 49%;
        top: 79%;
        animation: animate-bubbles1 5s linear infinite; }
      .section-first-block .bubble--ecolys {
        left: -9px;
        bottom: 47%; }
      .section-first-block .bubble--neo {
        left: 27%;
        bottom: 37%; }
      .section-first-block .bubble--losot {
        left: 5%;
        bottom: 12%; } }

@keyframes animate-bubbles1 {
  from {
    transform: translate3d(0%, 0%, 0); }
  10% {
    transform: translate3d(-3%, -3%, 0); }
  20% {
    transform: translate3d(3%, 3%, 0); }
  30% {
    transform: translate3d(12%, 5%, 0); }
  40% {
    transform: translate3d(13%, 5%, 0); }
  50% {
    transform: translate3d(17%, -1%, -2%); }
  60% {
    transform: translate3d(23%, -8%, 0); }
  70% {
    transform: translate3d(15%, -10%, 0); }
  80% {
    transform: translate3d(7%, -6%, 0); }
  90% {
    transform: translate3d(1%, 1%, 0); }
  to {
    transform: translate3d(0%, 0%, 0); } }

@keyframes animate-bubbles2 {
  from {
    transform: translate3d(0%, 0%, 0); }
  10% {
    transform: translate3d(-3%, -3%, 0); }
  20% {
    transform: translate3d(3%, 3%, 0); }
  30% {
    transform: translate3d(12%, 5%, 0); }
  40% {
    transform: translate3d(13%, 5%, 0); }
  50% {
    transform: translate3d(17%, -1%, 0%); }
  60% {
    transform: translate3d(23%, -8%, 0); }
  70% {
    transform: translate3d(15%, -10%, 0); }
  80% {
    transform: translate3d(7%, -6%, 0); }
  90% {
    transform: translate3d(1%, 1%, 0); }
  to {
    transform: translate3d(0%, 0%, 0); } }

@keyframes animate-bubbles3 {
  from {
    transform: translate3d(0%, 0%, 0); }
  10% {
    transform: translate3d(-5%, 7%, 0); }
  20% {
    transform: translate3d(8%, -3%, 0); }
  30% {
    transform: translate3d(-1%, 5%, 0); }
  40% {
    transform: translate3d(7%, -5%, 0); }
  50% {
    transform: translate3d(17%, -1%, 0%); }
  60% {
    transform: translate3d(23%, -8%, 0); }
  70% {
    transform: translate3d(15%, -10%, 0); }
  80% {
    transform: translate3d(7%, -6%, 0); }
  90% {
    transform: translate3d(1%, 1%, 0); }
  to {
    transform: translate3d(0%, 0%, 0); } }

.section-footer {
  position: relative;
  z-index: 8;
  display: flex;
  align-items: center;
  min-height: 57px;
  width: 100%;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff; }
  .section-footer .section-inner {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  @media (max-width: 991px) {
    .section-footer {
      color: #443e3e; }
      .section-footer .section-inner {
        padding-top: 24px;
        padding-bottom: 21px;
        border-top: 1px solid rgba(105, 105, 105, 0.22);
        align-items: center;
        justify-content: center; }
      .section-footer-nav, .section-footer-media {
        max-width: 0;
        max-height: 0;
        display: none; }
      .section-footer-copyright {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        line-height: 1.2; } }
  @media (min-width: 992px) {
    .section-footer-copyright span:first-child {
      margin-right: 20px; }
    .section-footer-nav {
      display: flex; }
      .section-footer-nav__link {
        color: #ffffff;
        text-decoration: none; }
        .section-footer-nav__link + .section-footer-nav__link {
          margin-left: 40px; }
        .section-footer-nav__link:hover {
          text-decoration: underline; }
    .section-footer-media {
      display: flex;
      align-items: center; }
      .section-footer-media__text {
        margin-right: 6px; }
      .section-footer-media__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .section-footer-media__link + .section-footer-media__link {
          margin-left: 6px; }
        .section-footer-media__link svg {
          fill: #ffffff;
          transition: 0.2s; }
        .section-footer-media__link:hover svg {
          fill: #443e3e; }
      .section-footer-media .inst {
        width: 14px;
        height: 14px; }
      .section-footer-media .vk {
        width: 14px;
        height: 8px; } }

@media (min-width: 992px) {
  .section-footer-first-block {
    position: absolute;
    bottom: -35px; } }

@media (min-width: 1200px) and (min-height: 900px) {
  .section-footer-first-block {
    position: absolute;
    bottom: 14px; } }

.section-footer--gray {
  color: #443e3e; }
  .section-footer--gray .section-inner {
    padding-top: 24px;
    padding-bottom: 21px;
    border-top: 1px solid rgba(105, 105, 105, 0.22); }
  .section-footer--gray svg {
    fill: #443e3e; }
  .section-footer--gray .section-footer-nav__link {
    color: #443e3e; }

@media (min-width: 992px) {
  .section-footer--advantages {
    background-image: linear-gradient(to right, #16b1e4, #19a4d6, #1c97c9, #1d8abb, #1e7dad); } }

.section-product {
  min-height: calc(100vh - 57px - 86px);
  padding-top: 45px;
  padding-bottom: 45px; }
  .section-product .title {
    text-transform: uppercase; }
  .section-product__content {
    display: flex; }
  .section-product-item {
    display: flex; }
    .section-product-item__wrapper {
      display: flex;
      text-decoration: none;
      color: #443e3e; }
    .section-product-item__title {
      font-weight: 600; }
    .section-product-item__decription {
      position: relative;
      color: #acacac;
      font-weight: 400;
      text-decoration: none; }
      .section-product-item__decription:before {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: #acacac;
        transform-origin: center;
        transform: scale(0);
        transition: 0.2s; }
      .section-product-item__decription:hover:before {
        transform: scale(1); }
  @media (max-width: 991px) {
    .section-product .title {
      margin-bottom: 50px; }
    .section-product .section-inner {
      padding-left: 5px;
      padding-right: 5px; }
    .section-product__content {
      flex-direction: column; }
    .section-product-item {
      padding-top: 10px;
      justify-content: center;
      position: relative;
      width: 100%;
      margin-bottom: 13px;
      border-radius: 9px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08); }
      .section-product-item__title {
        font-size: 40px; }
      .section-product-item__img {
        order: -1; }
      .section-product-item__decription {
        position: absolute;
        left: 50%;
        top: 25%;
        font-size: 20px; } }
  @media (min-width: 992px) {
    .section-product .title {
      margin-bottom: 100px; }
    .section-product-item {
      flex-basis: 33%;
      flex-direction: column;
      align-items: center; }
      .section-product-item__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
      .section-product-item__title {
        margin-bottom: 88px;
        font-size: 40px; }
      .section-product-item__img {
        margin-bottom: 90px; }
      .section-product-item__decription {
        font-size: 20px; } }
  @media (max-width: 575px) {
    .section-product .title {
      margin-bottom: 28px; }
    .section-product-item {
      padding-top: 10px;
      justify-content: flex-start;
      position: relative;
      width: 100%;
      margin-bottom: 13px;
      border-radius: 9px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08); }
      .section-product-item__title {
        font-size: 30px; }
      .section-product-item__img {
        order: -1; }
      .section-product-item__decription {
        position: absolute;
        left: 180px;
        top: 25%;
        font-size: 15px; } }
  @media (max-width: 367px) {
    .section-product-item__title {
      position: relative;
      left: -20px;
      font-size: 25px; }
    .section-product-item__decription {
      left: 160px; } }

.section-product2 {
  min-height: calc(100vh - 57px - 86px);
  padding-top: 45px;
  padding-bottom: 45px; }
  .section-product2 .title {
    margin-bottom: 60px; }
  .section-product2__content {
    display: flex;
    flex-wrap: wrap; }
  .section-product2-item {
    flex-basis: 33%;
    width: 33%;
    flex-direction: column;
    display: flex;
    align-items: center; }
    .section-product2-item__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
    .section-product2-item__title {
      margin-bottom: 53px;
      font-size: 30px;
      font-weight: 600;
      text-decoration: none;
      color: #443e3e; }
    .section-product2-item__img {
      margin-bottom: 61px; }
    .section-product2-item__decription {
      position: relative;
      margin-left: 2px;
      margin-bottom: 15px;
      color: #acacac;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none; }
      .section-product2-item__decription:before {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: #acacac;
        transform-origin: center;
        transform: scale(0);
        transition: 0.2s; }
      .section-product2-item__decription:hover:before {
        transform: scale(1); }
    .section-product2-item__text {
      width: 75%;
      color: #999999;
      font-size: 15px;
      font-weight: 400; }
      .section-product2-item__text p {
        margin: 0;
        padding: 0; }
  @media (max-width: 991px) {
    .section-product2__content {
      justify-content: space-between; }
    .section-product2-item {
      flex-basis: 45%;
      width: 45%;
      margin-bottom: 30px;
      padding-left: 15px;
      border-radius: 9px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08); }
      .section-product2-item__title {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 600; }
      .section-product2-item__img {
        order: -1;
        margin-bottom: 0; }
      .section-product2-item__decription {
        display: none;
        position: relative;
        margin-left: 2px;
        margin-bottom: 15px;
        color: #acacac;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none; }
        .section-product2-item__decription:before {
          content: '';
          position: absolute;
          bottom: -2px;
          width: 100%;
          height: 1px;
          background-color: #acacac;
          transform-origin: center;
          transform: scale(0);
          transition: 0.2s; }
        .section-product2-item__decription:hover:before {
          transform: scale(1); }
      .section-product2-item__text {
        overflow: hidden;
        max-height: 52px;
        text-overflow: ellipsis; } }
  @media (max-width: 390px) {
    .section-product2-item {
      flex-basis: 47%;
      width: 47%; }
      .section-product2-item__title {
        font-size: 25px; } }

.section-product-descripton {
  min-height: calc(100vh - 57px - 86px);
  padding-top: 45px; }
  .section-product-descripton .title {
    margin-bottom: 83px; }
  .section-product-descripton__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px; }
  .section-product-descripton-specifications, .section-product-descripton-slider, .section-product-descripton-info {
    flex-basis: 33%; }
  .section-product-descripton-specifications__item {
    display: flex;
    align-items: center;
    margin-bottom: 19px; }
    .section-product-descripton-specifications__item:last-child {
      margin-bottom: 0; }
  .section-product-descripton-specifications__img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 43px;
    min-height: 43px;
    margin-right: 45px; }
  .section-product-descripton-specifications__text {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3; }
    .section-product-descripton-specifications__text:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -36px;
      width: 28px;
      height: 1px;
      background-color: #cccccc; }
  .section-product-descripton__about {
    display: none; }
  .section-product-descripton-slider {
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    .section-product-descripton-slider-buttons {
      position: absolute;
      left: 50%;
      display: flex;
      transform: translateX(-50%); }
    .section-product-descripton-slider__button {
      cursor: pointer; }
      .section-product-descripton-slider__button:first-child {
        margin-right: 15px; }
      .section-product-descripton-slider__button .arrow {
        width: 35px;
        height: 35px; }
      .section-product-descripton-slider__button .arrow--prev {
        transform: rotate(179deg); }
    .section-product-descripton-slider .active {
      cursor: default; }
  .section-product-descripton-info__title {
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: 600; }
  .section-product-descripton-info__text {
    margin-bottom: 33px;
    font-size: 15px;
    line-height: 1.1;
    color: #999999; }
    .section-product-descripton-info__text p {
      margin-top: 17px; }
  .section-product-descripton-info__button {
    position: relative;
    width: 140px;
    height: 40px;
    overflow: hidden;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 600;
    background-color: inherit;
    cursor: pointer; }
    .section-product-descripton-info__button span {
      position: relative;
      z-index: 6;
      transition: 0.3s ease-in; }
    .section-product-descripton-info__button:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #443e3e;
      transform-origin: top;
      transform: translate3d(-100%, 0, 0);
      transition: 0.3s ease-in; }
    .section-product-descripton-info__button:after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: '';
      width: 138px;
      height: 38px;
      border: 1px solid #443e3e; }
    .section-product-descripton-info__button:hover span {
      color: #ffffff; }
    .section-product-descripton-info__button:hover:before {
      transform: translate3d(0, 0, 0); }
  @media (max-width: 991px) {
    .section-product-descripton-slider-buttons {
      bottom: 100px; }
    .section-product-descripton__item {
      margin-bottom: 70px; } }
  @media (min-width: 992px) {
    .section-product-descripton-slider-buttons {
      bottom: -20px; } }
  @media (max-width: 767px) {
    .section-product-descripton__item {
      flex-direction: column;
      margin-bottom: 32px; }
    .section-product-descripton-specifications {
      margin-bottom: 50px; }
    .section-product-descripton__about {
      margin-bottom: 60px;
      display: block; }
      .section-product-descripton__about__title {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 24px; }
      .section-product-descripton__about__text {
        font-size: 15px;
        color: #999999; }
        .section-product-descripton__about__text p {
          margin: 0;
          padding: 0; }
    .section-product-descripton-slider {
      margin-bottom: 80px;
      order: -2; }
      .section-product-descripton-slider-buttons {
        bottom: -40px; }
      .section-product-descripton-slider__button .arrow {
        width: 25px;
        height: 25px; }
    .section-product-descripton-info__button {
      display: none; } }

.section-advantages {
  padding-top: 59px; }
  .section-advantages .title {
    margin-bottom: 21px; }
  .section-advantages-content__title {
    font-size: 18px;
    font-weight: 600; }
  .section-advantages-text {
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 15px;
    font-weight: 400; }
    .section-advantages-text p {
      margin-top: 30px; }
  .section-advantages-box__title {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px; }
  .section-advantages-box__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .section-advantages-box__item {
    flex-basis: 32%;
    max-width: 180px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .section-advantages-box__item-img {
      margin-bottom: 28px; }
    .section-advantages-box__item-text {
      font-size: 15px;
      font-weight: 400; }
  .section-advantages .box--margin-top {
    margin-top: 35px; }
  .section-advantages .row--space-around {
    justify-content: space-around; }
  @media (max-width: 1199px) {
    .section-advantages {
      min-height: calc(100% - 59px); } }
  @media (max-width: 991px) {
    .section-advantages {
      min-height: calc(100% - 86px);
      padding-bottom: 32px;
      color: #443e3e;
      background-color: #fff; }
      .section-advantages .row--space-around .section-advantages-box__item {
        flex-basis: 50%; }
      .section-advantages .item--margin-top {
        margin-top: 30px; } }
  @media (min-width: 992px) {
    .section-advantages {
      height: calc(100% - 53px);
      color: #ffffff;
      background-image: linear-gradient(to right, #16b1e4, #19a4d6, #1c97c9, #1d8abb, #1e7dad); }
      .section-advantages__content {
        font-size: 15px; }
      .section-advantages-text {
        width: 90%; }
        .section-advantages-text p {
          width: 92%; } }

.section-tips {
  min-height: calc(100vh - 57px - 86px);
  padding-bottom: 45px; }
  .section-tips .section-inner {
    display: flex;
    flex-direction: column; }
  .section-tips .title {
    margin-bottom: 20px; }
  .section-tips .row--margin-bottom {
    margin-bottom: 75px; }
  .section-tips-row {
    display: flex;
    text-align: center;
    margin-bottom: 37px; }
    .section-tips-row__img {
      align-self: flex-end; }
    .section-tips-row__content {
      width: 65%;
      margin: 0 auto; }
    .section-tips-row__title {
      margin-bottom: 27px;
      font-size: 18px;
      font-weight: 600;
      color: #1B96C8; }
    .section-tips-row__text {
      font-size: 12px; }
      .section-tips-row__text p {
        margin-top: 15px; }
  .section-tips-specifications {
    position: relative;
    display: flex;
    width: 60%;
    align-self: flex-end;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }
    .section-tips-specifications__img {
      position: absolute; }
    .section-tips-specifications__text {
      text-align: center;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.1; }
      .section-tips-specifications__text p {
        margin: 0px; }
  .section-tips-table {
    margin-bottom: 40px;
    border-spacing: 0;
    border: 1px solid #443e3e;
    border-bottom: 0; }
    .section-tips-table tr {
      font-weight: 300;
      font-size: 12px; }
      .section-tips-table tr th,
      .section-tips-table tr td {
        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 3px;
        border-bottom: 1px solid #443e3e;
        border-right: 1px solid #443e3e;
        text-align: start;
        font-weight: 300; }
        .section-tips-table tr th:last-child,
        .section-tips-table tr td:last-child {
          border-right: 0; }
      .section-tips-table tr .weight {
        text-align: center; }
  @media (max-width: 1199px) {
    .section-tips-specifications .img--first {
      top: -35px;
      left: -47%; }
      .section-tips-specifications .img--first img {
        width: 169px; }
    .section-tips-specifications .img--second {
      top: 0px;
      right: 0px; }
      .section-tips-specifications .img--second img {
        width: 50px; } }
  @media (min-width: 1200px) {
    .section-tips-specifications .img--first {
      top: -35px;
      left: -37%; }
    .section-tips-specifications .img--second {
      top: -7px;
      right: 24%; }
      .section-tips-specifications .img--second img {
        width: 63px; } }
  @media (max-width: 767px) {
    .section-tips {
      padding-top: 35px; }
      .section-tips .title {
        margin-bottom: 50px; }
      .section-tips-row {
        position: relative;
        display: flex;
        margin-bottom: 37px; }
        .section-tips-row__img {
          position: absolute;
          top: -20px;
          left: 0%; }
          .section-tips-row__img img {
            width: 65px; }
        .section-tips-row .row-img--second img {
          width: 47px; }
        .section-tips-row__content {
          width: 100%;
          margin: 0 auto; }
        .section-tips-row .title--first {
          padding-left: 80px; }
        .section-tips-row__title {
          padding-left: 65px;
          margin-bottom: 34px;
          text-align: start;
          font-size: 18px;
          font-weight: 600;
          color: #1B96C8; }
        .section-tips-row__text {
          text-align: start;
          font-size: 15px;
          font-weight: 400; }
      .section-tips-specifications {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 123px;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .section-tips-specifications__text {
          text-align: start;
          font-size: 15px;
          font-weight: 400; }
        .section-tips-specifications .img--first {
          top: 120%;
          left: 70%; }
          .section-tips-specifications .img--first img {
            width: 43px; }
        .section-tips-specifications .img--second {
          top: 120%;
          left: 20%; }
          .section-tips-specifications .img--second img {
            width: 36px; }
      .section-tips-table {
        margin-bottom: 40px;
        border-spacing: 0;
        border: 1px solid #443e3e;
        border-bottom: 0; }
        .section-tips-table tr {
          font-weight: 300;
          font-size: 12px; }
          .section-tips-table tr th,
          .section-tips-table tr td {
            padding-top: 3px;
            padding-bottom: 2px;
            padding-left: 3px;
            border-bottom: 1px solid #443e3e;
            border-right: 1px solid #443e3e;
            text-align: start;
            font-weight: 300; }
            .section-tips-table tr th:last-child,
            .section-tips-table tr td:last-child {
              border-right: 0; }
          .section-tips-table tr .weight {
            text-align: center; } }
  @media (min-width: 768px) {
    .section-tips {
      padding-top: 55px; }
      .section-tips-specifications__text {
        width: 90%; } }

.section-contacts {
  padding-top: 39px;
  overflow: hidden; }
  .section-contacts .section-inner {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 400px 1fr;
    grid-template-areas: "address map" "form map";
    -ms-display: grid;
    -ms-grid-template-columns: 30% 70%;
    -ms-grid-template-rows: 400px 1fr;
    -ms-grid-template-areas: "address map" "form map"; }
  .section-contacts .title {
    display: flex;
    margin-bottom: 26px; }
  .section-contacts .addresses {
    grid-area: address;
    -ms-grid-area: address;
    margin-bottom: 6px;
    margin-left: 15px; }
  .section-contacts .addresses--online {
    display: flex; }
    .section-contacts .addresses--online .address:first-child {
      margin-right: 44px; }
  .section-contacts .address {
    margin-bottom: 35px; }
    .section-contacts .address__title {
      margin-bottom: 8px;
      font-size: 15px;
      font-weight: 600; }
    .section-contacts .address__text {
      font-weight: 300;
      font-size: 15px; }
  .section-contacts .form {
    margin-left: 15px;
    grid-area: form;
    -ms-grid-area: form;
    padding-left: 0; }
    .section-contacts .form__button {
      margin-top: 32px; }
  .section-contacts-map {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-area: map;
    -ms-grid-area: map;
    margin-top: 30px; }
  @media (max-width: 1199px) {
    .section-contacts-map iframe {
      width: 589px;
      height: 704px; } }
  @media (min-width: 992px) {
    .section-contacts-map {
      align-self: start;
      justify-self: end; }
      .section-contacts-map iframe {
        width: 589px;
        height: 704px; }
      .section-contacts-map-title {
        display: none; } }
  @media (min-width: 1200px) {
    .section-contacts-map iframe {
      width: 689px;
      height: 684px; } }
  @media (max-width: 991px) {
    .section-contacts .section-inner {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 292px 316px 470px;
      grid-template-areas: "address" "map" "form";
      -ms-display: grid;
      -ms-grid-template-columns: 1fr;
      -ms-grid-template-rows: 292px 316px 470px;
      -ms-grid-template-areas: "address" "map" "form"; }
    .section-contacts .form {
      margin-left: 0;
      padding-right: 0; }
      .section-contacts .form__title {
        color: #ffffff; }
      .section-contacts .form-wrapper {
        padding-top: 27px;
        padding-bottom: 38px;
        padding-left: 15px;
        background-color: #0E64A2; }
      .section-contacts .form__input input {
        background-color: #0E64A2; }
      .section-contacts .form__input-text {
        color: #ffffff; }
      .section-contacts .form__button {
        margin-top: 40px;
        left: 50%;
        width: 320px;
        height: 60px;
        transform: translateX(-50%); }
        .section-contacts .form__button span {
          position: relative;
          z-index: 4;
          transition: 0.3s ease-in;
          font-weight: 600;
          font-size: 20px;
          color: #ffffff; }
        .section-contacts .form__button:before {
          width: 318px;
          height: 58px; }
        .section-contacts .form__button:after {
          width: 320px;
          height: 60px;
          background-color: #0E64A2; }
        .section-contacts .form__button:hover span {
          color: #0E64A2; }
    .section-contacts-map {
      align-self: center; }
      .section-contacts-map-title {
        position: relative;
        left: 15px;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 20px; }
      .section-contacts-map iframe {
        height: 276px;
        width: 100%; } }
  @media (max-width: 575px) {
    .section-contacts__button {
      margin-top: 40px;
      left: 50%;
      width: 280px;
      height: 60px;
      transform: translateX(-50%); }
      .section-contacts__button span {
        position: relative;
        z-index: 4;
        transition: 0.3s ease-in;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff; }
      .section-contacts__button:before {
        width: 278px;
        height: 58px; }
      .section-contacts__button:after {
        width: 280px;
        height: 60px;
        background-color: #0E64A2; }
      .section-contacts__button:hover span {
        color: #0E64A2; } }
