// Variables

$color-gray: #443e3e;
$color-white: #ffffff;

// / Variables

// Common
* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: $color-gray;
}

.section-outer {
    padding-left: 15px;
    padding-right: 15px;
}

.section-inner {
    max-width: 1210px;
    margin: 0 auto;
}

.main {
    position: relative;
    height: 100vh;
}

.title {
    font-size: 50px;
    font-weight: 600;
}
// / Common

// Modal
.modal {
    position: fixed;
    z-index: 20;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;

    .form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    &-background {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100vh;
        border-radius: 50%;
        background: rgba(30, 128, 176, 0.67);
        transform-origin: center;
        transition: 0.5s;
        transform: scale(0);
    }
}
// /Modal

// Form
.form {
    padding: 35px 20px;
    width: 370px;
    height: 384px;
    border-radius: 10px;
    background-color: #fff;

    &__button-close {
        position: absolute;
        right: 12px;
        top: 12px;
        z-index: 100;
        cursor: pointer;

        svg {
            width: 19px;
            height: 19px;
        }
    }

    &__title {
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: 600;
        color: #2B6997;
    }

    &__input {
        position: relative;
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }

        span {
            position: absolute;
            top: -7px;
            left: 0;
            font-size: 15px;
            font-weight: 500;
            color: #999999;
            transform-origin: top left;
            transition: 0.3s;

            &:after {
                content: '*';
                position: absolute;
                right: -17px;
                top: 0;
                font-size: 15px;
                color: #EA1A65;
            }
        }
    }

    &__button {
        position: relative;
        width: 160px;
        height: 33px;
        overflow: hidden;
        border: none;
        outline: none;
        background-color: inherit;
        cursor: pointer;

        span {
            position: relative;
            z-index: 10;
            transition: 0.3s ease-in;
            font-weight: 300;
            font-size: 15px;
            color: $color-white;
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            content: '';
            width: 158px;
            height: 30px;
            border: 1px solid #999999;
            opacity: 0;
            transition: 0.1s;
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            content: '';
            width: 160px;
            height: 32px;
            transform-origin: bottom right;
            background-color: #1B96C8;
            transition: 0.2s ease-in;
        }

        &:hover {
            span {
                color: #1B96C8;
            }

            &:before {
                opacity: 1;
            }

            &:after {
                transform: translate3d(-100%, 0, 0);
            }
        }
    }
}

.input {
    display: flex;
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(196, 196, 196, 0.58);
    align-items: flex-end;
    font-size: 12px;

    &:focus ~ .form__input-text,
    &:valid ~ .form__input-text {
            transform: scale(0.85);
            color: #EA1A65;
    }
}
// /Form


// Header
.section-header {
    min-height: 86px;
    padding-top: 19px;
    padding-bottom: 16px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
    color: $color-gray;

    .section-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        width: 12%;
    }

    &-nav {
        display: flex;

        &__link {
            margin-right: 32px;
            font-size: 15px;
            font-weight: 300;
            text-decoration: none;
            color: $color-gray;

            &:last-child {
                margin-right: 0px;
                max-width: 67px;
                min-width: 67px;
            }

            &:hover {
                font-weight: 500;
                letter-spacing: -0.53px;
            }
        }

        .active {
            font-weight: 500;
            letter-spacing: -0.53px;
        }
    }

    &-mail {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 500;

        .email {
            margin-right: 10px;
            width: 16px;
            height: 12px;
        }
    }

    &-contact {
        display: flex;
        align-items: center;

        .tel {
            margin-right: 10px;
            width: 15px;
            height: 15px;
        }

        &-city {
            margin-bottom: 3px;
            font-size: 12px;
            font-weight: 400;
        }

        &-text__telephone {
            margin-bottom: 3px;
            font-size: 15px;
            font-weight: 500;
        }

        &-text {
            font-size: 10px;
            font-weight: 300;
        }

    }
}
// / Header

// Fisrt-block
.section-first-block {
    height: 91%;
    padding-top: 65px;
    background: url("../img/first-block/background.jpg")
        no-repeat center;
    background-size: cover;

    .section-inner {
        position: relative;
        display: flex;
        height: 100%;
    }

    &-title {
        font-size: 25px;
        font-weight: 600;
        color: $color-white;
    }

    .bubble--item {
        position: absolute;
    } 

    .bubble {
        shape-rendering: crispEdges;
        transform: translateZ(0);
        position: absolute;

        &-wrapper {
            position: relative;
        }

        img {
            display: block;
            shape-rendering: crispEdges;
        }

        &-text {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            font-weight: 600;
            font-size: 24px;
            color: #0B4357;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    .bubble--1 {
        left: 12%;
        top: 14%;
        animation: animate-bubbles1 7s linear infinite;
    }

    .bubble--2 {
        left: 23%;
        top: 16%;
        animation: animate-bubbles2 8s linear infinite;
    }

    .bubble--3 {
        left: 38%;
        top: 9%;
    }

    .bubble--4 {
        left: 46%;
        top: 22%;
    }

    .bubble--5 {
        left: 24%;
        top: 44.4%;
    }

    .bubble--6 {
        left: -2.1%;
        top: 59.6%;
    }

    .bubble--7 {
        left: 52%;
        top: 53%;
    }

    .bubble--8 {
        left: 42%;
        top: 63%;
    }

    .bubble--9 {
        left: 38%;
        top: 77%;
    }

    .bubble--10 {
        left: -3%;
        top: 82%;
    }

    .bubble--11 {
        left: 22.5%;
        top: 78.7%;
    }

    .bubble--12 {
        left: 49%;
        top: 79%;
    }

    .bubble--ecolys {
        left: -9px;
        bottom: 47%;
    }

    .bubble--neo {
        left: 27%;
        bottom: 37%;
    }

    .bubble--losot {
        left: 5%;
        bottom: 12%;
    }
}

@keyframes animate-bubbles1 {
    from {
        transform: translate3d(0%,0%,0);
    } 10% {
        transform: translate3d(-3%,-3%,0);
    } 20% {
        transform: translate3d(3%,3%,0);
    } 30% {
        transform: translate3d(12%,5%,0);
    } 40% {
        transform: translate3d(13%,5%,0);
    } 50% {
        transform: translate3d(17%,-1%,-2%);
    } 60% {
        transform: translate3d(23%,-8%,0);
    } 70% {
        transform: translate3d(15%,-10%,0);
    } 80% {
        transform: translate3d(7%,-6%,0);
    } 90% {
        transform: translate3d(1%, 1%,0);
    } to {
        transform: translate3d(0%, 0%, 0);
    }
}
@keyframes animate-bubbles2 {
    from {
        transform: translate3d(0%,0%,0);
    } 10% {
        transform: translate3d(-3%,-3%,0);
    } 20% {
        transform: translate3d(3%,3%,0);
    } 30% {
        transform: translate3d(12%,5%,0);
    } 40% {
        transform: translate3d(13%,5%,0);
    } 50% {
        transform: translate3d(17%,-1%,-2%);
    } 60% {
        transform: translate3d(23%,-8%,0);
    } 70% {
        transform: translate3d(15%,-10%,0);
    } 80% {
        transform: translate3d(7%,-6%,0);
    } 90% {
        transform: translate3d(1%, 1%,0);
    } to {
        transform: translate3d(0%, 0%, 0);
    }
}
// First-block

// Footer
.section-footer {
    display: flex;
    align-items: flex-end;
    min-height: 57px;
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    color: $color-white;

    .section-inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &-copyright {
        span {
            &:first-child {
                margin-right: 20px;
            }
        }
    }

    &-nav {
        display: flex;

        &__link {
            color: $color-white;
            text-decoration: none;

            & + & {
                margin-left: 40px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-media {
        display: flex;
        align-items: center;

        &__text {
            margin-right: 6px;
        }

        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & + & {
                margin-left: 6px;
            }

            svg {
                fill: $color-white;
                transition: 0.2s;
            }

            &:hover {
                svg {
                    fill: $color-gray;
                }
            }
        }

        .inst {
            width: 14px;
            height: 14px;
        }

        .vk {
            width: 14px;
            height: 8px;
        }
    }
}

.section-footer-first-block {
    position: absolute;
    bottom: 14px;
}

.section-footer--gray {
    color: $color-gray;

    .section-inner {
        padding-top: 24px;
        padding-bottom: 21px;
        border-top: 1px solid rgba(105, 105, 105, 0.22);
    }

    svg {
        fill: $color-gray;
    }

    .section-footer-nav__link {
        color: $color-gray;
    }
}
// / Footer

// Product
.section-product {
    min-height: calc(100vh - 57px - 86px);
    padding-top: 45px;
    padding-bottom: 45px;
    .title {
        margin-bottom: 100px;
    }

    &__content {
        display: flex;
    }

    &-item {
        flex-basis: 33%;
        flex-direction: column;
        display: flex;
        align-items: center;

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            margin-bottom: 88px;
            font-size: 40px;
            font-weight: 500;
        }

        &__img {
            margin-bottom: 90px;
        }

        &__decription {
            position: relative;
            color: #acacac;
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;

            &:before {
                content:'';
                position: absolute;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background-color: #acacac;
                transform-origin: center;
                transform: scale(0);
                transition: 0.2s;
            }

            &:hover {
                &:before {
                    transform: scale(1); 
                }
            }
        }
    }
}
// Product

// Product-2
.section-product2 {
    min-height: calc(100vh - 57px - 86px);
    padding-top: 45px;
    padding-bottom: 45px;
    .title {
        margin-bottom: 60px;
    }

    &__content {
        display: flex;
    }

    &-item {
        flex-basis: 33%;
        width: 33%;
        flex-direction: column;
        display: flex;
        align-items: center;

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            margin-bottom: 53px;
            font-size: 30px;
            font-weight: 500;
        }

        &__img {
            margin-bottom: 61px;
        }

        &__decription {
            position: relative;
            margin-left: 2px;
            margin-bottom: 15px;
            color: #acacac;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;

            &:before {
                content:'';
                position: absolute;
                bottom: -2px;
                width: 100%;
                height: 1px;
                background-color: #acacac;
                transform-origin: center;
                transform: scale(0);
                transition: 0.2s;
            }

            &:hover {
                &:before {
                    transform: scale(1); 
                }
            }
        }

        &__text {
            width: 75%;
            color: #999999;
            font-size: 15px;
            font-weight: 400;
            p {
                margin: 0;
                padding: 0;
            }
        }
    }
}
// / Product-2

// /Product-descripton
.section-product-descripton {
    padding-top: 45px;
    .title {
        margin-bottom: 83px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 130px;
    }

    &-specifications,
    &-slider,
    &-info {
        flex-basis: 33%;
    }

    &-specifications {
        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 19px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 43px;
            min-height: 43px;
            margin-right: 45px;
        }

        &__text {
            position: relative;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.3;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: -36px;
                width: 28px;
                height: 1px;
                background-color: #cccccc;
            }
        }
    }

    &-slider {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &-buttons {
            position: absolute;
            bottom: -40px;
            left: 50%;
            display: flex;
            transform: translateX(-50%);
        }

        &__button {
            cursor: pointer;

            &:first-child {
                margin-right: 15px;
            }

            .arrow {
                width: 35px;
                height: 35px;
            }

            .arrow--prev {
                transform: rotate(179deg);
            }
        }
    }

    &-info {
        &__title {
            margin-bottom: 17px;
            font-size: 18px;
            font-weight: 600;
        }

        &__text {
            margin-bottom: 33px;
            font-size: 15px;
            line-height: 1.1;
            color: #999999;

            p {
                margin-top: 17px;
            }
        }

        &__button {
            position: relative;
            width: 140px;
            height: 40px;
            overflow: hidden;
            border: none;
            outline: none;
            text-transform: uppercase;
            font-size: 9px;
            font-weight: 600;
            background-color: inherit;
            cursor: pointer;

            span {
                position: relative;
                z-index: 10;
                transition: 0.3s ease-in;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                content: '';
                width: 100%;
                height: 100%;
                background-color: $color-gray;
                transform-origin: top ;
                transform: translate3d(-100%, 0, 0);
                transition: 0.3s ease-in;
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                content: '';
                width: 138px;
                height: 38px;
                border: 1px solid $color-gray;
            }

            &:hover {
                span {
                    color: $color-white;
                }

                &:before {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }

}
// /Product-descripton

// Advantages 
.section-advantages {
    height: calc(100vh - 86px);
    padding-top: 59px;
    background-image: linear-gradient(to right, #16b1e4, #19a4d6, #1c97c9, #1d8abb, #1e7dad);
    color: $color-white;

    .title {
        margin-bottom: 21px;
    }

    &-content {
        &__title {
            font-size: 18px;
            font-weight: 600;
        }
    }
    &-text {
        width: 90%;
        margin-top: 28px;
        margin-bottom: 28px;
        font-size: 15px;
        font-weight: 400;

        p {
            width: 92%;
            margin-top: 30px;
        }
    }

    &-box {

        &__title {
            font-size: 15px;
            font-weight: 500;
            text-align: center;

            margin-bottom: 35px;
        }

        &__row {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            flex-basis: 33%;
            max-width: 180px;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &-img {
                margin-bottom: 28px;
            }

            &:first-child {
            }

            &:last-child {
            }
            &-text {
                font-size: 15px;
                font-weight: 400;
            }
        }
    }

    .box--margin-top {
        margin-top: 35px;
    }

    .row--space-around {
        justify-content: space-around;
    }
}
// / Advantages

// Tips
.section-tips {
    min-height: calc(100vh - 57px - 86px);
    padding-top: 55px;
    padding-bottom: 45px;
    .section-inner {
        display: flex;
        flex-direction: column;
    }
    .title {
        margin-bottom: 20px;
    }

    .row--margin-bottom {
        margin-bottom: 75px;
    }

    &-row {
        display: flex;
        text-align: center;
        margin-bottom: 37px;

        &__img {
            align-self: flex-end;
        }

        &__content {
            width: 65%;
            margin: 0 auto;
        }

        &__title {
            margin-bottom: 27px;
            font-size: 18px;
            font-weight: 600;
            color: #1B96C8;
        }

        &__text {
            font-size: 12px;

            p {
                margin-top: 15px;
            }
        }
    }

    &-specifications {
        position: relative;
        display: flex;
        width: 60%;
        align-self: flex-end;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        &__img {
            position: absolute;
        }

        .img--first {
            top: -35px;
            left: -37%;
        }

        .img--second {
            top: -7px;
            right: 24%;
        }
        
        &__text {
            text-align: center;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.1;
            width: 90%;

            p {
                margin: 0px;
            }
        }
    }

    &-table {
        margin-bottom: 40px;
        border-spacing: 0;
        border: 1px solid $color-gray;
        border-bottom: 0;
        tr {
            font-weight: 300;
            font-size: 12px;
            th,
            td {
                padding-top: 3px;
                padding-bottom: 2px;
                padding-left: 3px;
                border-bottom: 1px solid $color-gray;
                border-right: 1px solid $color-gray;
                text-align: start;
                font-weight: 300;

                &:last-child {
                    border-right: 0;
                }
            }
            .weight {
                text-align: center;
            }
        }
    }
}
// / Tips

// Contacts
.section-contacts {
    padding-top: 39px;

    .section-inner {
        display: flex;
        justify-content: space-between;
    }

    .title {
        margin-bottom: 26px;
    }

    .addresses {
        margin-bottom: 6px;
    }

    .addresses--online {
        display: flex;

        .address {
            &:first-child {
                margin-right: 44px;
            }
        }
    }

    .address {
        margin-bottom: 35px;
        &__title {
            margin-bottom: 8px;
            font-size: 15px;
            font-weight: 600;
        }
        &__text {
            font-weight: 300;
            font-size: 15px;
        }
    }
    .form {
        padding-left: 0;
    }

    &-map {
        iframe {
            width: 689px;
            height: 684px;
        }
    }

}